html, body {
  height: 100%;
}

body {
  text-align: center;

  // Vertically center in modern browsers: http://caniuse.com/#feat=flexbox

  // Chrome, Firefox
  display: flex;
  align-items: center;

  // Safari
  display: -webkit-box;
  -webkit-box-align: center;
}

.outer-container {
  max-width: 1200px;
  margin: 0 auto;

  // Prevent the vertically centered content from bursting through the top of a short viewport.
  max-height: 100%;
}

.inner-container {
  // Serves to
  //   1. distance us from the top of the viewport if it's not tall enough to vertically center
  //   2. offset the vertical centering so it's actually slightly above center (which looks better)
  // A margin won't achieve #1 in Safari/Mobile Safari; we need padding.
  padding: 40px 20px 70px;
}

@media only screen and (max-width: 40rem) {
  .inner-container {
    padding: 40px 20px;
  }
}

.the-pug {
  margin-bottom: 20px;
}

.elsewhere {
  margin-top: 40px;
}
