body {
  background: white;
  color: $yellowish-black;
  font: 300 20px/1.5 "Source Sans Pro", sans-serif;
}

a, b {
  font-weight: 400;
}

a {
  &, &:visited {
    color: $turquoise;
    text-decoration: none;
    border-bottom: 1px solid $light-gray;
  }

  &:hover, &:focus {
    color: $dark-turquoise;
    border-color: $dark-gray;
  }
}

h1 {
  font-size: 30px;
}

h2 {
  margin-top: 45px;
  font-size: 20px;
}

.at {
  color: $light-turquoise;
}

.avatar-wrapper {
  display: inline-block;
  border-radius: 50%;
  padding: 15px;
  background: linear-gradient(45deg, turquoise, goldenrod);
}

.avatar {
  border-radius: 50%;
  background: white;
  width: 250px;
  display: block;
}

.secondary-content {
  font-size: 18px;
}

.long-content {
  text-align: left;
  font-size: 18px;
  max-width: 31em;
  margin: 45px 0;

  li {
    margin: 10px 0;
  }
}

.links {
  font-size: 18px;
  list-style-type: none;
  padding: 0;

  &__link {
    display: inline;
    margin: 0 10px;
    white-space: nowrap;
  }
}
