$yellowish-black: #330;

$turquoise: #23ccbe;
$light-turquoise: #b8d8d5;
$dark-turquoise: #01aa9c;

$light-gray: #ededed;
$dark-gray: #bbb;

@mixin phone-size {
  @media (max-width: 40rem) { @content; }
}

html, body {
  height: 100%;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;

  text-align: center;

  background: white;
  color: $yellowish-black;
  font: 300 20px/1.5 "Source Sans Pro", sans-serif;

  margin: 0;
  padding: 20px;
}

.outer-container {
  max-width: 1200px;
  margin: 0 auto;

  // Prevent the vertically centered content from bursting through the top of a short viewport.
  max-height: 100%;
}

.inner-container {
  // Serves to
  //   1. distance us from the top of the viewport if it's not tall enough to vertically center
  //   2. offset the vertical centering so it's actually slightly above center (which looks better)
  // A margin won't achieve #1 in Safari/Mobile Safari; we need padding.
  padding-top: 40px;
  padding-bottom: 70px;
}

@include phone-size {
  body {
    align-items: start;
  }

  .inner-container {
    padding: 20px 0;
  }
}

.mid-top-space { margin-top: 35px; }
.big-top-space { margin-top: 45px; }

a, b {
  font-weight: 400;
}

a {
  &, &:visited {
    color: $turquoise;
    text-decoration: none;
    border-bottom: 1px solid $light-gray;
  }

  &:hover, &:focus {
    color: $dark-turquoise;
    border-color: $dark-gray;
  }
}

.a {
  &--undecorated {
    border: 0;
  }
}

h1 {
  font-size: 30px;
}

h2 {
  margin-top: 45px;
  font-size: 20px;
}

.at {
  color: $light-turquoise;
}

.avatar-wrapper {
  display: inline-block;
  border-radius: 50%;
  background: linear-gradient(45deg, turquoise, goldenrod);
  box-shadow: inset 0 0 5px rgba(black, 0.2);

  margin-bottom: -25px;
}

.avatar {
  $side: 280px;

  display: block;
  border-radius: 50%;
  width: $side;
  height: $side;

  @include phone-size {
    $side: 200px;
    width: $side;
    height: $side;
  }

  .inner-container {
    padding: 20px 0;
  }

  &--small {
    $side: 80px;
    width: $side;
    height: $side;
  }
}

.updated-at {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  font-style: italic;
}

.long-content {
  text-align: left;
  font-size: 18px;
  max-width: 31em;
  margin: 45px 0;

  li {
    margin: 10px 0;
  }
}

.links {
  font-size: 18px;
  list-style-type: none;
  padding: 0;

  &__link {
    display: inline;
    margin: 0 10px;
    white-space: nowrap;

    &--current {
      a {
        color: $yellowish-black;
        border-bottom: none;
      }
    }
  }
}
