$turquoise: #23ccbe;
$dark-turquoise: #01aa9c;

$gold: goldenrod;

$light-gray: #ededed;
$dark-gray: #bbb;
$almost-black: #111;

$text-color: $almost-black;

$font-size-big: 20px;
$font-size-medium: 18px;

@mixin phone-size {
  @media (max-width: 40rem) { @content; }
}

html, body {
  height: 100%;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;

  text-align: center;

  background: white;
  color: $text-color;
  font: 300 $font-size-big "Source Sans Pro", sans-serif;
  line-height: 1.5;

  margin: 0;
  padding: 20px;

  @include phone-size {
    font-size: $font-size-medium;
    align-items: start;
  }
}

.outer-container {
  max-width: 1200px;
  margin: 0 auto;

  // Prevent the vertically centered content from bursting through the top of a short viewport.
  max-height: 100%;
}

.inner-container {
  // Offsets the vertical centering so it's actually slightly above center (which looks better).
  padding-top: 20px;
  padding-bottom: 50px;

  @include phone-size {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.mid-top-space { margin-top: 35px; }
.big-top-space { margin-top: 45px; }

a, b {
  font-weight: 400;
}

a {
  &, &:visited {
    color: $turquoise;
    text-decoration: none;
    border-bottom: 1px solid $light-gray;
  }

  &:hover, &:focus {
    color: $dark-turquoise;
    border-color: $dark-gray;
  }
}

.a {
  &--undecorated {
    border: 0;
  }
}

h2 {
  margin-top: 45px;
  font-size: $font-size-big;
}

.avatar-wrapper {
  display: inline-block;
  border-radius: 50%;
  background: linear-gradient(45deg, $turquoise, $gold);
  box-shadow: inset 0 0 5px rgba(black, 0.2);

  margin-bottom: -25px;
}

.avatar {
  $side: 280px;

  display: block;
  border-radius: 50%;
  width: $side;
  height: $side;

  @include phone-size {
    $side: 200px;
    width: $side;
    height: $side;
  }

  .inner-container {
    padding: 20px 0;
  }

  &--small {
    $side: 80px;
    width: $side;
    height: $side;
  }
}

.long-content {
  text-align: left;
  font-size: $font-size-medium;
  max-width: 31em;
  margin: 45px 0;

  li {
    margin: 10px 0;
  }
}

.links {
  font-size: $font-size-medium;
  list-style-type: none;
  padding: 0;

  &__link {
    display: inline;
    margin: 0 10px;
    white-space: nowrap;

    &--current {
      a {
        color: $text-color;
        border-bottom: none;
      }
    }
  }
}

.weeknote-hgroup {
  text-align: center;
  margin-bottom: 45px;

  &__week-of {
    font-style: italic;
    margin-top: -15px;
  }
}

.weeknote-separator {
  text-align: center;
  color: $dark-gray;
  margin: 30px 0;
}
