/* LAYOUT */

html, body {
  height: 100%;
}

body {
  text-align: center;

  /* Vertically center in modern browsers: http://caniuse.com/#feat=flexbox */
  display: flex;
  align-items: center;
}

.page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

  /* So the centered content doesn't burst through the top of a short viewport. */
  max-height: 100%;
}

.container {
  /*
   Serves two purposes:
   1. Margin against top of viewport if viewport is not tall enough to vertically center.
   2. Offset vertical centering so it's actually slightly above center (looks better).
  */
  margin: 40px 0 100px;
}

.the-pug {
  width: 300px;  /* Shrink for retina. */
  margin-bottom: 20px;
}


/* STYLING */

body {
  background: #fbfbf9;
  color: #330;
  text-shadow: 1px 1px 1px #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  font-weight: 300;
}

strong {
  font-weight: 400;
}

a, a:visited {
  color: #23ccbe;
  text-decoration: none;
  border-bottom: 1px solid #ededed;
}

a:hover, a:focus {
  color: #01aa9c;
  border-color: #bbb;
}

.at {
  color: #b8d8d5;
}

ul.elsewhere {
  font-size: 16px;
  list-style-type: none;
  margin: 40px 0;
  padding: 0;
}

ul.elsewhere li {
  display: inline;
  margin: 0 10px;
}
