---
title: Elsewhere
---

section.big-top-space

  .long-content

    markdown:

      I'm [@henrik@ruby.social](https://ruby.social/@henrik) on Mastodon. Say hi!

      (And [@henrik](https://twitter.com/henrik) on Twitter, but I avoid it these days.)

      My [Instagram](https://instagram.com/henrikn) has photos of our cats and our lovely corner of the world.
      Our house has [its own account](https://instagram.com/leechwood_).

      I blog sporadically at [The Pug Automatic](https://thepugautomatic.com) about Ruby, Elixir, Vim etc.

      I save links to [Pinboard](https://pinboard.in/u:henrik).

      I [follow the golden rule](https://thepugautomatic.com/2014/07/golden-rule/) on [Stack Overflow](https://stackoverflow.com/users/6962/henrik-n).

      I have some open source work on GitHub – as [@henrik](https://github.com/henrik) and [for my employer](https://github.com/barsoom).
