---
title: Elsewhere
---

section.big-top-space

  .long-content

    markdown:

      I'm [@henrik@ruby.social](https://ruby.social/@henrik) on Mastodon and [@henrik](https://github.com/henrik) on GitHub.

      I blog sporadically at [The Pug Automatic](https://thepugautomatic.com) about Ruby, Elixir, Vim etc.

      I post photos to [Instagram](https://instagram.com/henrikn, save links to [Pinboard](https://pinboard.in/u:henrik), log books to [Goodreads](https://www.goodreads.com/user/show/3135242-henrik-n) and films to [Letterboxd](https://letterboxd.com/henrikn/).
