section.big-top-space

  markdown:

    Hi! I'm **Henrik Nyh**, a Swedish web developer.

    I live with [Johanna](https://johannaost.com) in [Todmorden](https://www.visittodmorden.co.uk), UK.

    I work for [Auctionet](https://dev.auctionet.com).

    Contact me at <a href="mailto:henrik@nyh.se">henrik<span class="at">@</span>nyh.se</a>.
