section.big-top-space

  markdown:

    Hi! I'm **Henrik Nyh**, a Swedish web developer.

    I live with [Johanna](https://johannaost.com) in [Todmorden](https://www.visittodmorden.co.uk), UK.

    I blog at [The Pug Automatic](https://thepugautomatic.com) and work at [Auctionet](https://dev.auctionet.com).

    Contact me at <a href="mailto:henrik@nyh.se">henrik<span class="at">@</span>nyh.se</a>.

nav.big-top-space
  h2 Elsewhere

  ul.links
    = list_link_to("Mastodon", "https://ruby.social/@henrik")
    = list_link_to("Instagram", "https://instagram.com/henrikn")
    = list_link_to("Pinboard", "https://pinboard.in/u:henrik")
    = list_link_to("GitHub", "https://github.com/henrik")
