.intro
  markdown:

    I'm **Henrik Nyh**, a Swedish developer.

    I live with [Johanna](https://johannaost.com) in Yorkshire, UK.

    I work for [Auctionet](https://dev.auctionet.com).

h2 By me

ul
  li: a href="https://getofftheline.app" Get Off the Line: An iOS screen time modulator
  li: a href="https://hond.ae" Honda e Knowledge Base

h2 Elsewhere

ul.horizontal
  li: a href="https://thepugautomatic.com" Blog
  li: a href="https://github.com/henrik" GitHub
  li: a href="https://instagram.com/henrikn" Instagram

h2 Contact

ul.horizontal
  li: a href="mailto:henrik@nyh.se" henrik@nyh.se
  li: a href="https://ruby.social/@henrik" Mastodon
