---
title: Projects
---

section.big-top-space

  .long-content

    h2 Web sites

    markdown:


      * [Honda e Knowledge Base](https://hond.ae/) (2022–).
        <br>
        Organising information about the car I drive.

      * [Svenskt XKCD-lösenord](https://pw.nyh.name/) (2021–).
        <br>
        Swedish XKCD-style passphrase generator.

      * [Quoted Expression Demonstrator](https://qed.nyh.name/) (2015–).
        <br>
        Visualizes the quoted form of Elixir code. Useful when writing macros.
