---
title: Uses
---

section.big-top-space

  markdown:
    Last updated April 2023. Inspired by [Wes Bos](https://wesbos.com/uses).

  ul.links.big-top-space
    = list_link_to("Desk setup", "#desk")
    '
    = list_link_to("On my Mac", "#mac")
    '
    = list_link_to("On my iPhone", "#phone")
    '
    = list_link_to("TV", "#tv")
    '
    = list_link_to("Car", "#car")
    '
    = list_link_to("Home", "#home")
    '
    = list_link_to("Gear", "#gear")
    '
    = list_link_to("Ops", "#ops")
    '
    = list_link_to("Tea", "#tea")

  .long-content

    h2#desk Desk setup

    markdown:

      I work from a [home office overlooking our back garden](https://www.instagram.com/p/BayuxqxFEiS/). Aiming for a kind of mid century modern retro sci-fi explorer's lounge aesthetic.

      * **14" MacBook Air (M2, 2022)**. "Midnight", 16 GB RAM, 512 GB storage. With a [gold Apple logo](https://www.etsy.com/uk/listing/1044558826/coloured-apple-apple-macbook-decal). Love it.
      * **Apple Studio Display**. I love the single-cable life.
      * **Apple Magic Keyboard with Touch ID** (Swedish layout), and a **Magic Trackpad**. Not having to reach for the laptop for Touch ID is a great quality-of-life improvement.
      * [Black Autonomous SmartDesk frame](https://www.autonomous.ai/standing-desks/diy-smart-desk-kit?option16=37&option17=1881) with a [walnut effect table top](https://www.onlinereality.co.uk/prod/13424/nextday-laminated-mdf-table-tops). I like that it has height presets.
      * [Walnut and brass monitor stand](https://www.etsy.com/uk/listing/794506621/beech-wood-monitor-stand-laptop-stand?ref=yr_purchases&variation0=1386049109).
      * [mStand](https://www.raindesigninc.com/mstand.html) for the MBP. Usually open as a second screen.
      * **EasyErgo Executive Mesh office chair**. A revelation after my previous not-so-ergonomic chair. Concave arm rests are <i>amazing</i>.
      * [HyperX Gold Cloud Alpha](https://www.hyperxgaming.com/unitedkingdom/en/landing/cloud-alpha-gold) headset. I'm a sucker for black and gold. Works well. Wired; haven't found a wireless headset I like.

    h2#mac On my Mac

    markdown:

      * [Vim](https://www.vim.org/) ([since 2010](https://thepugautomatic.com/2011/01/textmate-to-vim-with-training-wheels/)) in [tmux](https://github.com/tmux/tmux/wiki) in [iTerm2](https://iterm2.com/) with [my dotfiles](https://github.com/henrik/dotfiles). Vim uses a dark theme called [Blackboard](https://github.com/henrik/dotfiles/blob/master/vim/colors/blackboard.vim). Monaco font.
      * [Arc browser](https://arc.net/). A quirky power-user browser rethinking web browsing from first principles.

        With [a retro Netscape-style shooting stars icon](https://arc.net/e/EB39BD1B-960E-4DF4-A41B-3C52F402C743) for nostalgia and because it's more recognisable in the dock.
      * [Spotify](https://www.spotify.com/) and Apple Music.

        I go back and forth. I *want* to like Apple Music, and it's improving. Spotify has better recommendations. Apple Music handles local files better.

        I mostly pay for Apple Music because of an inane but beloved automation that plays a sound around the house when it's time to feed the cats…
      * [iStat Menus](https://bjango.com/mac/istatmenus/) to show memory, CPU, network activity and battery status of peripherals.

        To avoid clutter it only shows the computer's battery status in the menu bar, and I click it to see the rest.
      * [xbar](https://xbarapp.com/) to show [if our cats are in or out](https://xbarapp.com/docs/plugins/Lifestyle/sureflap.15s.rb.html).
      * [SuperDuper!](https://www.shirt-pocket.com/SuperDuper/) for full-disk backups before OS upgrades and such.
      * Apple's **Notes**. Have tried other notekeeping apps and methods but so far this one has worked best for me.

        Top-level folders for work, house, car, cats, food and drink, misc, and archive. I'd like it to feel more organised, but I'm not sure what's missing exactly.
      * **iCloud Drive**. Mostly fine, if you keep version-controlled code outside it. (Otherwise it will duplicate files.)
      * The [Ring Mac app](https://support.ring.com/hc/en-gb/articles/204384784-Downloading-the-Ring-App) pops up a floating window when our [Ring cameras](https://en-uk.ring.com/pages/security-cameras) detect motion and I need to run downstairs to receive a parcel.
      * [Spark](https://sparkmailapp.com/) for email, but I've found I don't really like it on desktop.

        I miss [Mailplane](https://mailplaneapp.com/) and may go back to that, or plain Gmail in a browser. Mailplane can show my private and work Gmail (and calendars) in a tabbed app. I have a pretty organised Gmail setup using "Multiple Inboxes" and filters.
      * [Raycast](https://www.raycast.com/). Launcher, clipboard history, putting the computer to sleep etc.

        It looks sleek and modern, has a rich ecosystem and some cool touches like showing your next calendar event and letting you launch its meeting with one keypress.

        I've made automations to e.g. launch standard Zoom meetings, send notes to self, and text my partner. I like how automations can be just a folder of scripts.

        But I also think the general flow is worse than [Alfred](https://www.alfredapp.com/) in some respects – I need to rewire my brain to always start with the command ("Contacts") and not the object ("Foo Barson") because it's handled poorly, where it's supported at all.
      * [Mic Drop](https://getmicdrop.com/) for a global mute/unmute shortcut.

        This sometimes mean I end up double-muted and confused (in Mic Drop *and* the meeting) but it's great to have a consistent shortcut between Tuple/Zoom/Google Meet. It gives peace of mind to see mute status in the menu bar, just like you effectively see the camera indicator light in the menu bar.
      * [Divvy](https://mizage.com/divvy/) for window management.

        Raycast also does window management, but Divvy has two features I'd miss: a shortcut to open a grid panel where you can visually drag to pick size and position, and hitting a shortcut twice to use that arrangement but on the other display.
      * [Fantastical](https://flexibits.com/fantastical) to enter calendar events in natural language via a menu bar icon, and to list them there.
      * [LICEcap](https://www.cockos.com/licecap/) for animated screen captures.
      * [Tuple](https://tuple.app/) for remote pair programming.
      * [ImageOptim](https://imageoptim.com/mac) to optimise images.
      * [Pixelmator Pro](https://www.pixelmator.com/pro/) for image editing.
      * [DaisyDisk](https://daisydiskapp.com/) to free up disk space.
      * [Hand Mirror](https://handmirror.app/) for a one-click camera check. Honestly don't use it often, but I enjoy having a hand mirror icon in the menu bar.
      * [Ice Cubes](https://apps.apple.com/app/ice-cubes-for-mastodon/id6444915884) for Mastodon. A bit unpolished, but it's the best client I've found so far.
      * [Padbury Clock Revived](https://github.com/Kamik423/Padbury-Clock-Revived) screensaver. Like a more minimalistic [Fliqlo](https://fliqlo.com).

    h2#phone On my iPhone

    markdown:

      * [Castro](https://castro.fm/) for podcasts. The inbox-centric workflow is genius.
      * [Spark](https://sparkmailapp.com/) for email. Love how I can set different swipes to quickly move or snooze emails, and how I can swipe between different signatures (e.g. different languages and formality).
      * [Ice Cubes](https://apps.apple.com/app/ice-cubes-for-mastodon/id6444915884) for Mastodon. I like [Ivory](https://tapbots.com/ivory/)'s polish, but I disagree with some design choices, and search/discoverability is lacking.
      * [Captio](http://captio.co/) to send notes to myself. Gmail uses filters to send these to a "Notes" inbox (via "Multiple Inboxes"). Another filter forwards them to my work email if they [contain a keyword](https://thepugautomatic.com/2012/08/captio-with-multiple-recipients/).
      * [Ruler](https://apps.apple.com/app/ruler/id623207505) to measure stuff with an on-screen ruler.

    h2#tv TV

    markdown:

      * [Sony Bravia 55" 4K](https://www.sony.co.uk/electronics/140-cm-55-inch-tvs). Looks smart, works well. HomeKit and AirPlay.
      * [Sonos Beam](https://www.sonos.com/shop/beam.html), [Sonos Sub Mini](https://www.sonos.com/shop/sub-mini), and two [Sonos One](https://www.sonos.com/shop/one.html) as surround speakers. Prefer to AirPlay music directly to the Sonos, so the TV can be off.
      * **Mac Mini M1, 8 GB RAM**. Drives the TV. We tried an Apple TV but the flexibility of a full computer is hard to beat.
      * **Apple Magic Keyboard** and **Magic Trackpad** as a single unit via the [Spinido Stand](https://www.amazon.co.uk/Spinido-BESTAND-Trackpad-MJ2R2LL-Keyboard/dp/B01EWXHV0W?tag=delishlist-20). This is effectively our remote.
      * [Alfred](https://www.alfredapp.com/) binds function keys to [power the TV on/off and change volume](https://gist.github.com/henrik/32bb3b037b728b81a560d3676c7cfcf7), [toggle the subwoofer](https://gist.github.com/henrik/437257c1346a33db6dc10a72c61ca807), [open/close](https://gist.github.com/henrik/437257c1346a33db6dc10a72c61ca807) [Plex](https://www.plex.tv/), and to toggle lights (in HomeKit via [HomeControl Menu](https://apps.apple.com/app/homecontrol-menu-for-homekit/id1547121417) automation URLs).

        We need to change volume via the TV's API since the Mac volume keys can't control the HDMI ARC volume on a M1. It's a [whole](https://github.com/MonitorControl/MonitorControl/issues/323) [thing](https://github.com/alin23/Lunar/issues/210).
      * We watch a lot of movies and TV shows in [Plex](https://www.plex.tv/), stored locally. Great if you prefer to watch something specific and not just what's streaming.
      * [Transmission](https://transmissionbt.com/) to download torrents.
      * [ViDL](https://omz-software.com/vidl/) (GUI for [youtube-dl](https://ytdl-org.github.io/youtube-dl/index.html)) to download embedded videos.
      * [ExpressVPN](https://www.expressrefer.com/refer-a-friend/30-days-free?referrer_id=22697293&utm_campaign=referrals&utm_medium=copy_link&utm_source=referral_dashboard) for privacy or to access things from the old homeland.
      * [Backblaze](https://secure.backblaze.com/r/0028qw) for continuous offsite backup.
      * [Aerial](https://aerialscreensaver.github.io/) screensaver, with stunning aerial shots like on an Apple TV.

    h2#car Car

    markdown:

      * **Honda e Advance** in "charge yellow" with the 17" wheels. Not the most practical but a charmer!
      * **Andersen A2** charging point, "charcoal" front and "nearly black" sides. Very polished hardware; very unpolished software.

    h2#home Home

    markdown:

      * [Anker 3-in-1 Magnetic Charging Stand](https://www.amazon.co.uk/gp/product/B09CKZZTQQ/) by the bed. Replacing the Qi charger with MagSafe was such a quality-of-life improvement – no more aligning it just right.
      * [Velvetiser](https://www.hotelchocolat.com/uk/velvetiser-hot-chocolate-machine.html) "in-home hot chocolate system". Copper. My partner was gifted this. Makes a smooth, frothy cup of cocoa. We use it much more than expected.
      * [Withings Body+ smart scales](https://www.withings.com/eu/en/body-plus). Really good UI; syncs automatically to Apple Health.

    h2#gear Gear

    markdown:

      * **iPhone 12 Pro**. Gold, naturally.
      * **Apple Watch Series 6**. Gold stainless steel with gold Milanese loop.
      * [AirPods Max](https://www.apple.com/airpods-max/) headphones. Noise cancellation is great to have, and the sound stage and quality make music listening on the go an ✨experience✨. Should have had a power button, though.
      * [AirPods Pro 2](https://www.apple.com/airpods-pro/) earbuds. For running and doing chores. Sound quality isn't as good as the Maxes, but it's not bad at all.
      * **Kindle Paperwhite (2021)** e-reader with the black fabric cover.
      * [Fujifilm X100T camera](https://www.kenrockwell.com/fuji/x100t.htm). Realised I'd stopped bringing my DSLR and lenses with me because they were too bulky. Honestly, I rarely even bring this one, these days.
      * [Eastpak Extrafloid](https://www.eastpak.com/backpacks-c120/extrafloid-black-pEK62C07I+00+999.html) backpack.

    h2#ops Ops

    markdown:

      I don't want to manage my own servers if I can help it.

      * Free [Cloudflare](https://www.cloudflare.com/) for DNS and most domains.
      * Free [Netlify](https://www.netlify.com/) for static sites like this one.
      * Free [Fly.io](https://fly.io/) for [QED](https://qed.nyh.name).
      * [Heroku](https://heroku.com/) for e.g. [my partner's art site](https://johannaost.com).
      * [AWS](https://aws.amazon.com/) for storing images on S3 and the odd Lambda for automations.

    h2#tea Tea

    markdown:

      My go-tos are:

      * [Teapigs Yerba Mate](https://www.teapigs.co.uk/products/yerba-mate). Often on a workday morning for an extra kick of energy.
      * [Teapigs Darjeeling Earl Grey](https://www.teapigs.co.uk/products/darjeeling-earl-grey-tea). A bit fancy. Often on a weekend morning.
      * [Thompson's Special Everyday](https://www.thompsonstea.com/our-teas/thompsons-special-everyday), or PG Tips, or Yorkshire Tea – with milk. In order of preference, though I mix it up.

ul.links.big-top-space
  = list_link_to("↑ Top", "#")
