---
title: Weeknotes
---

section.big-top-space

  .long-content

    markdown:
      [Weeknotes](https://weeknot.es/) are a weekly summary of what one has been up to.

    h2#2023 2023

    markdown:

      * [Week 8 (week of February 20th)](/weeknotes/2023-w8)
      * [Week 7 (week of February 13th)](/weeknotes/2023-w7)
