---
title: "Weeknotes for week 9, 2023"
week_of: "February 27th"
---

- @og_description = weeknote_week_of

section.big-top-space

  .long-content

    hgroup.weeknote-hgroup
      h2 = current_page.data.title
      p.weeknote-hgroup__week-of = weeknote_week_of

    markdown:

      I sold stuff on Facebook Marketplace and I had forgotten how much work it is.

      Trying to be fair to the first person in line, not hearing back for a day or two, repeat.

      I sold something for £15 that I really should have just donated, but I saw it through out of perverse fascination.

      Also listed something on eBay. Equal parts impressed and exhausted with the listing process. They've clearly put a lot of work into it, and there's a lot *of* it.

      #{weeknote_separator}

      We rewatched [Close Encounters of the Third Kind (1977)](https://www.imdb.com/title/tt0075860/). Very much *A Movie*. Good attention to detail. A bit nothingy in the end, but I enjoyed the journey.

      We also tried to watch [The Abyss (1989)](https://www.imdb.com/title/tt0096754/) and did not finish. A bit dull, frankly, which probably contributed to it being hard to follow.

      #{weeknote_separator}

      Sunday was a rare day of TV sports.

      My partner watches one sporting event a year, the cross-country ski race [Vasaloppet](https://en.wikipedia.org/wiki/Vasaloppet) with roots in her corner of Sweden. That was Sunday morning.

      I'd ordered the requisite [bilberry soup](https://www.vasaloppet.se/en/about-us/history/blueberry-soup/) weeks in advance, since you don't find it in UK supermarkets.

      Then we went on a day trip, and I watched the F1 race when we got back.

      I rarely watch sports, but I'd been told I might enjoy Formula 1. So like a lot of people, I tried [Drive to Survive](https://www.imdb.com/title/tt8289930/) a few months ago and did indeed enjoy it. It's an intriguing combination of business, applied science, interpersonal (melo)&shy;drama, strategy and action.

      And it's fun to get a view into a world I hadn't paid any attention to previously.

      #{weeknote_separator}

      The day trip was to [Sizergh](https://www.nationaltrust.org.uk/visit/lake-district/sizergh) in the Lake District.

      The Lakes are less than 2 hours away, but it feels like you're on holiday when you get there. We should go more often.

      We walked around the lovely gardens, petted Charlie the castle cat, had a picnic and bought gifts.

      We got a bag of vinegar crisps in the café to upgrade our brought sandwiches to [crisp sandwiches](https://en.wikipedia.org/wiki/Crisp_sandwich). UK food gets a bad rap, but these are a delight.

      #{weeknote_separator}

      A quote I appreciated:

      > They were so alike that Bashford says they can even be thought of as "one very long-lived man, 1825-1975."

      – ["How the Huxleys Electrified Evolution" in The New Yorker](https://www.newyorker.com/magazine/2022/11/28/how-the-huxleys-electrified-evolution)

      #{weeknote_separator}

      We're probably done painting the dining room table. And I'm almost done painting a chair we got for it. More nooks and crannies than you can shake a brush at.

      Upholstery fabric samples have been ordered for chair seats.

      A frustrating thing about DIY is that I have perfectionist tastes, but not quite the skills.

      Unlike work, where I've done it long enough that I feel like I *can* often see the way to subjective perfection, though it's often traded away, and rightly so.
