---
title: "Weeknotes 2023, week 7"
week_of: "February 13th"
---

section.big-top-space

  .long-content

    hgroup.weeknote-hgroup
      h2 = current_page.data.title
      p.weeknote-hgroup__week-of The week of #{current_page.data.week_of}.

    markdown:

      First weeknote! I've enjoyed reading weeknotes by [Denis Defreyne](https://denisdefreyne.com/weeknotes/) and others, so I thought I'd try it myself.

      #{weeknote_separator}

      At work, this was the last week of [cooldown](https://github.com/barsoom/devbook/tree/master/process#shape-up).

      I arranged for the customer support team to onboard us (the product development Public Site Team) so we can do it one day per cooldown. I think we'll learn a lot.

      When I suggested this, [Fred](https://fbergman.se) recommended two Rework Podcast episodes ([Put Everyone on the Front Lines](https://37signals.com/podcast/put-everyone-on-the-front-lines/), [Tales from the Front Lines](https://37signals.com/podcast/tales-from-the-front-lines/)). I listened to them in the back garden walking our indoor cat on a lead.

      On our Friday afternoon social, I showed the [Arc browser](https://arc.net/). I've used it for about two weeks now, and I really like it, despite some bugs and quirks.

      #{weeknote_separator}

      I've been using my new Apple Studio Display all week. The single-cable lifestyle is great. The camera is the least good part – not so much the picture quality but the wide angle. Centre Stage gets you a more useful crop, but it's distracting how it tracks movement.

      I tried [a desk mat](https://www.amazon.co.uk/dp/B0921N4BRS) and I wasn't a fan – I think I'll keep going without.

      #{weeknote_separator}

      As part of our "cosy cabins and camps" theme, we watched [The Parent Trap (1961)](https://www.imdb.com/title/tt0055277/) followed by [The Parent Trap (1998)](https://www.imdb.com/title/tt0120783/). The 1961 version was great, and the special effects (making twins out of one actor) are impressive.

      They supposedly only meant to have a few of those shots, but Walt Disney had them add lots more after seeing how good they were.

      I appreciate that the newer one isn't a scene-by-scene rehash, but the parents are less charismatic and the emotional scenes don't have the same impact.

      We also rewatched [The Princess and the Frog (2009)](https://www.imdb.com/title/tt0780521/). It was fine.

      I started watching [The Last of Us (2023–)](https://www.imdb.com/title/tt3581920/). Never played the game. Two episodes in, it's pretty good. I love post-apocalyptic takes.

      #{weeknote_separator}

      After a lazy winter, I've started doing more work around the house again.

      I drove to collect some used [Mackintosh](https://en.wikipedia.org/wiki/Charles_Rennie_Mackintosh)-inspired chairs for our parlour/dining room ([this model](https://www.cassina.com/gb/en/products/hill-house-1.html#292-hill-house-1_33159), but two for £60). They're going with [an IKEA table](https://www.ikea.com/gb/en/p/klimpfjaell-dining-table-grey-brown-30434657/) and it's all being painted black. I've just primed the table with a shellack-based primer as I write this.

      Having a big, robust dinner table is amazing – haven't really had one before.

      #{weeknote_separator}

      I briefly tried the launcher [Raycast](https://www.raycast.com/) as an alternative to [Alfred](https://www.alfredapp.com/). I love the confetti command, and it looks more modern. Other than that, I need to try it more.

      I organised my notes in Notes.app a bit more, and watched some YouTube videos about note organisation (like [this one](https://www.youtube.com/watch?v=EmB15Uzzbjw&list=LL&index=4&t=10s)). I *love* organising things, but I feel like I don't have my notes organised as well as I could. I'm curious about [Notion](https://notion.so) and [Obsidian](https://obsidian.md/).

      I started modernising my personal site (this one!) and ended up re-implementing it with [Middleman](https://middlemanapp.com) so it's easier to maintain now that it has things like weeknotes.

      #{weeknote_separator}

      Our normally-greedy cat Vincent was off his food for several days, so we took him to the vet. Doing much better after some pills. Very [grateful](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC372253/) he will accept the pills in food.

      #{weeknote_separator}

      I'm between books, which is always disconcerting.

      I should probably pick up [Shorefall](https://www.goodreads.com/book/show/45309582-shorefall) by Robert Jackson Bennett. It's the sequel to [Foundryside](https://www.goodreads.com/book/show/37173847-foundryside) which was great in many ways, including perhaps the best magic system I've seen, but for some reason I'm not particularly keen to read more 🤷‍♂️

      #{weeknote_separator}

      We went on a walk in [Hardcastle Crags](https://www.nationaltrust.org.uk/visit/yorkshire/hardcastle-crags) in the next town over.

      We've been before, but I hadn't gone into Gibson Mill previously. I love that they used to have summer camps and a roller-skating rink.
