---
title: "Weeknotes for week 13, 2023"
week_of: "March 27th"
---

- @og_description = weeknote_week_of

section.big-top-space

  .long-content

    hgroup.weeknote-hgroup
      h2 = current_page.data.title
      p.weeknote-hgroup__week-of = weeknote_week_of

    markdown:

      It's a beautiful, sunny Sunday. I can see green hills and blue skies out the window.

      I'm watching the Formula 1 race (not live) but will have to head out after.

      #{weeknote_separator}

      It's been a jigsaw puzzle week.

      We got the [2000 piece "Garden of Earthly Delights" puzzle from Educa](https://www.educaborras.com/en/product/2000-the-garden-of-earthly-delights/) and it's fantastic. Lots of great details. Best one so far.

      I thought the enlarged crops at the top and bottom (that help it fit their standard size) would be annoying, but they just add interest.

      We've been spending a few hours every evening on it. It really pulls you in – the next little win is always within reach.

      The soundtrack this time has mostly been [Hildegard von Bingen](https://www.youtube.com/watch?v=52Clyua6LKk). And [Roy Orbison](https://www.youtube.com/watch?v=MVRunwyoTMA), and Kjell Höglund's beautiful ["Gennesarets sjö"](https://www.youtube.com/watch?v=pbZMcKEyPDY).

      #{weeknote_separator}

      Haven't watched a lot of TV or movies this week what with the jigsaw puzzling.

      We saw [Speed (1994)](https://www.imdb.com/title/tt0111257/). Great action; rather stilted dialogue (which was apparently written by Joss Whedon). Didn't think Dennis Hopper's villain was compelling. It reminded me of [Die Hard with a Vengeance (1995)](https://www.imdb.com/title/tt0112864/) where Jeremy Irons played a much better villain.

      #{weeknote_separator}

      I had a nightmare where I was in a personal meeting on my computer and then a coworker spoke up and said I was in a work meeting, unmuted.

      It's like that classic "school without trousers" dream but for the modern age.

      #{weeknote_separator}

      It was the last week of cooldown at work. Had 1-on-1s with my team. Getting the hang of those.

      Booked a work trip back to my native Sweden. I've learned one week is my limit – it's nice to meet family, friends and coworkers, but I miss life back here.

      #{weeknote_separator}

      Inspired by [Jose Munoz's site](https://www.josemunozmatos.com/), I updated my [/uses](/uses) page, including some images. More to come, probably.

      #{weeknote_separator}

      Some things I enjoyed:

      - [Apple Music Classical (Mostly) Plays the Right Chords](https://tidbits.com/2023/03/29/apple-music-classical-mostly-plays-the-right-chords/)
      - [The Most Popular Jigsaw Puzzles of 2022](https://www.puzzletwins.com/lists/most-popular-jigsaw-puzzles-2022/)
        - [40 000 piece puzzle!](https://www.amazon.co.uk/dp/B01D24PK96)
      - [Ice Ice Matrix](https://www.youtube.com/watch?v=gnEIeVWLtbU)
