---
title: "Weeknotes for week 15, 2023"
week_of: "April 10th"
---

- @og_description = weeknote_week_of

section.big-top-space

  .long-content

    hgroup.weeknote-hgroup
      h2 = current_page.data.title
      p.weeknote-hgroup__week-of = weeknote_week_of

    markdown:

      At work, I enjoyed [some ill-advised human name auto-formatting](https://ruby.social/@henrik/110192652698343370). It's fun but clearly doomed to be imperfect. I have some ideas for the coming week about how to balance user input with [KYC](https://en.wikipedia.org/wiki/Know_your_customer) needs.

      Among other sources, I tried ChatGPT to explore the world of often-lower-cased name particles (such as "von" or "al-"). Being able to ask follow-up questions was useful, except for the fact that they revealed more than once that it'd made a particle up from whole cloth.

      #{weeknote_separator}

      After listening to [a discussion about "phone positivity" on Hard Fork](https://www.nytimes.com/2023/04/07/podcasts/ai-vibe-check-with-ezra-klein-and-kevin-tries-phone-positivity.html), I've turned off [one sec](https://one-sec.app/).

      It feels odd but very convenient for apps like Facebook to just launch immediately.

      The "AI check" part of that episode was fascinating as well. Listened to it in the car on the way home from dropping my partner off at a concert, and on the way back to pick her up.

      #{weeknote_separator}

      I read [Make Something Wonderful: Steve Jobs in his own words](https://book.stevejobsarchive.com/) in Safari on my phone (not on my Kindle) and there was something quite nice about having a default thing to read on the phone for a few days.

      The web book felt unusually robust, remembering its position across reading sessions. It's a shame this stands out, but it did.

      Reading it was a good reminder that computers inside books picking up signals from the ether were once science fiction.

      I finished the book while having lunch outdoors in lovely weather (after some rainy days) at a pub in the hills above town. Then had dessert and then walked the scenic route home.

      #{weeknote_separator}

      I saw [Where the Crawdads Sing (2022)](https://www.imdb.com/title/tt9411972/) which was pretty good, if a bit [skämskudde](https://en.wiktionary.org/wiki/sk%C3%A4mskudde) in places. I finished it on my own since my partner gave up in disgust after the CGI bird and "people forget about creatures that live in shells" one-two punch.

      We rewatched [Rope (1948)](https://www.imdb.com/title/tt0040746/). Very good, of course. We may expand this into another few Hitchcock movie nights.

      #{weeknote_separator}

      I read ["There Is No Antimemetics Division" by qntm](https://qntm.org/scp). Fascinating sci-fi based around not-remembering, though it got a bit much towards the end.

      I realised afterwards that I've read [Ra](https://qntm.org/ra) by the same author (about the scientific discovery of magic, and what follows) and felt much the same about that one.

      #{weeknote_separator}

      I enjoyed:

      - [Falsehoods Programmers Believe About Names - With Examples](https://shinesolutions.com/2018/01/08/falsehoods-programmers-believe-about-names-with-examples/)
      - [So You Want To Abolish Time Zones](https://qntm.org/abolish)
      - [Ra appendix: Invisibility theory](https://qntm.org/invisibility)
      - [Quora: Why do bees produce excess amount of honey, wasting their energy?](https://www.quora.com/Why-do-bees-produce-excess-amount-of-honey-wasting-their-energy) (Not just this question but the whole warren of adjacent questions.)
