---
title: "Weeknotes for week 12, 2023"
week_of: "March 20th"
---

- @og_description = weeknote_week_of

section.big-top-space

  .long-content

    hgroup.weeknote-hgroup
      h2 = current_page.data.title
      p.weeknote-hgroup__week-of = weeknote_week_of

    markdown:

      At work, my team tried "[Everyone on support](https://signalvnoise.com/posts/3676-everyone-on-support)" – the devs plan on spending about a day per [cooldown](https://basecamp.com/shapeup) in support. Both because the end users contacting support are affected by our work, and because we support the support team, so we need to understand their situation.

      It was hard, fun and educational. It confirmed suspicions we'd had about a problematic bit of UX.

      #{weeknote_separator}

      We watched [Under Siege (1992)](https://www.imdb.com/title/tt0105690/). Had its moments but not great. Steven Seagal has a strange vibe.

      [The Pelican Brief (1993)](https://www.imdb.com/title/tt0107798/) was rather good. One of those movies where the quality of the main actors definitely elevate it. I think I arbitrarily picked this as My Favourite Movie at some point as a kid, but I'm pretty sure I only saw it once. (Now twice.)

      [Dante's Peak (1997)](https://www.imdb.com/title/tt0118928/) had a beautiful setting and great set pieces. Think it could have been strung together better. Pierce Brosnan in short-sleeved Alan Grant shirts made me long for summer.

      #{weeknote_separator}

      I started reading [Clutter: An Untidy History](https://www.goodreads.com/en/book/show/50689515) by Jennifer Howard.

      Strangely compelling so far. Good writing does that.

      #{weeknote_separator}

      I stumbled over [Persephone Manor](https://persephonemanor.com/) on Reddit, and it made me really happy.

      I think because we too theme the rooms of our house pretty heavily; and I too love going over the top with home tech; and I too love making detailed inventories.

      I would not make a page or a home like this, but I can totally see why one would.
