---
title: "Weeknotes for week 14, 2023"
week_of: "April 3rd"
---

- @og_description = weeknote_week_of

section.big-top-space

  .long-content

    hgroup.weeknote-hgroup
      h2 = current_page.data.title
      p.weeknote-hgroup__week-of = weeknote_week_of

    markdown:

      It's been a lovely, long Easter weekend with beautiful weather.

      We've barbecued and gardened and had breakfast outside.

      #{weeknote_separator}

      I've resumed our pond project from last summer. The first step is to build a little retaining wall, and the first step of *that* is to dig a trench.

      I don't mind the digging, but carrying surplus soil up the sloped garden to dispose of it is hard work. If it was a bigger project I'd look into some sort of conveyor belt.

      At least I have a place to put the soil. I use it to flatten out the slope under our swing seat.

      #{weeknote_separator}

      Works feels like an age ago.

      I've been pairing with a similarly senior developer for a change, and collaborating more closely with a designer than usual. It's a lot of fun.

      #{weeknote_separator}

      I had a routine eye test. My glasses are falling apart and I wanted an up-to-date prescription for new ones.

      The optician took eye-health photos and studied them for a few minutes. My mind (calmly) wandered into thoughts about programming via voice control and whether I could do my job if I lost my eyesight. Then he was done and said it was all fine.

      As usual I had a ton of questions about how eye tests and prescriptions work, but held back because he probably didn't want to talk to me all day.

      I watched some videos about it afterwards, to my partner's amusement.

      #{weeknote_separator}

      I also watched:

      [Liar Liar (1997)](https://www.imdb.com/title/tt0119528/). First time I've seen it. Entertaining but the inconsistent internal logic offended me. For most of the movie he can't lie by omission, until it's convenient for the plot.

      [Tremors (1990)](https://www.imdb.com/title/tt0100814/). Also for the first time. Enjoyed it a lot. I appreciated the non-dumb hicks and the mostly unsexualised female lead.

      I finished [Goodfellas (1990)](https://www.imdb.com/title/tt0099685/) which I had started the week before. Not quite my kind of movie, but I can't deny it was skillfully made. The drug-paranoia sequence was intense.

      [True Lies (1994)](https://www.imdb.com/title/tt0111503/) was a rewatch. Very good action sequences, though I could have done without the misogynistic sidekick.

      I think I've given up on The Mandalorian. I watched another episode and it seems to have lost its magic.
V
      #{weeknote_separator}

      I read ["Pompeii" by Robert Harris](https://www.goodreads.com/book/show/880.Pompeii) which was really good. I was sad to see they never ended up making it into a movie.

      #{weeknote_separator}

      My employer hooked us up with [GitHub Copilot](https://github.com/features/copilot). So far, I think it's a net productivity win, but a modest one.

      It's rather convenient when it suggest the thing that's in your head, so you don't have to type it out.

      It's more of a mixed bag when it outputs a bunch of code before you've thought that far ahead. Suddenly you need to review someone else's code. It's like your pair partner suddenly took the keyboard and wrote out a bunch of code without explanation.
