---
title: "Weeknotes for week 11, 2023"
week_of: "March 13th"
---

- @og_description = weeknote_week_of

section.big-top-space

  .long-content

    hgroup.weeknote-hgroup
      h2 = current_page.data.title
      p.weeknote-hgroup__week-of = weeknote_week_of

    markdown:

      I'm at my most content when a novel has its hooks in me.

      This week I finished [Artifact Space](https://www.goodreads.com/book/show/56097208-artifact-space) by [Miles Cameron](https://mastodon.online/@Cameronauthor). Really enjoyed it!

      It's space opera with good stuff like mysterious alien ruins and merchant navy life among the stars.

      I especially appreciated how the main space ship has wood panelling, acanthus-leaf etchings, paintings of old captains and so on – a far cry from Star Trek minimalism.

      #{weeknote_separator}

      We spent a night in our own guest room, just because we can.

      There's something magical about a really cosy guest room, and making one has been one of my goals.

      #{weeknote_separator}

      I watched the last of "The Last of Us". It was rather good, but I didn't *love* it.

      Speaking of Pedro Pascal leading children through danger, we watched "The Mandalorian" S03E02 and it was one of the most boring, least inspired things I've seen in a long time. Hope it picks back up.

      We rewatched [The Net (1995)](https://www.imdb.com/title/tt0113957/). Not amazing, but pretty entertaining. I expected it to feel more outdated than it did.

      #{weeknote_separator}

      I was very glad to watch [a video](https://www.youtube.com/watch?v=bErJpKrEhzc) of someone even more picky about their desk cable situation than I am.

      #{weeknote_separator}

      I got an unexpected and strangely coincidental windfall.

      When selling my old display, I found the contract for our old flat in the packaging. We moved out 6 years ago.

      A few days later, I got an automatic email from the UK Deposit Protection Service about getting the deposit back for that flat – a decent amount of money.

      I very carefully provided some non-sensitive details, thinking it might be a high-quality phishing attempt, but the money landed in my account a few days later.

      I suppose we forgot about the deposit in the hustle and bustle of buying a house and moving, and finding the contract somehow pinged the agent through the ether.
