---
title: "Weeknotes for week 8, 2023"
week_of: "February 20th"
---

- @og_description = weeknote_week_of

section.big-top-space

  .long-content

    hgroup.weeknote-hgroup
      h2 = current_page.data.title
      p.weeknote-hgroup__week-of = weeknote_week_of

    markdown:

      This was the first week of our [4-week cycle](https://github.com/barsoom/devbook/tree/master/process#shape-up) at work.

      I mostly focused on a new integration. It went better than expected and the proof-of-concept was done in one week instead of two.

      It involves OAuth2 and OpenID Connect, which I hadn't had much to do with previously. On my Tuesday morning run, I listened(!) to ["An Illustrated Guide to OAuth and OpenID Connect"](https://www.youtube.com/watch?v=t18YB3xDfXI) to get an overview of the concepts.

      I also got to reset my "days since causing downtime" counter, but I realised the error immediately and fixed it quickly. One of the benefits of trunk-based development.

      #{weeknote_separator}

      I have a tendency to obsess over how to organise things – spending hours on research, making sketches and lists, discussing with my long-suffering partner. I mostly enjoy it.

      Getting a new display gave me an excuse to revisit my desk setup.

      Current avenues of exploration include:

      - Which side of the display does my laptop go on, and with what length cable? The included, short cable only just reaches. A longer cable going *under* the desk and out the side should look neater and work better.

      - Should I get a wireless headset instead of my current corded one? (Incidentally, this week a cat got tangled in the cord mid-meeting to dramatic effect.)

        One option I considered was using my AirPods together with a better mic. Stumbled over [Tula](https://www.tulamics.com) which seems both good and reasonably attractive, but perhaps wasted on work meetings.

        My current plan is an extension cable, again under the desk, plugged into the display, so I can keep my headset but without cables crossing the desk. I tried one and it worked poorly, so watch this space.

      - How should I charge my iPhone and my sometime Android test device? MagSafe is lovely and degrades to Qi, but you can only screen share in QuickTime Player via Lightning. Ended up ordering [a nice braided cable](https://www.amazon.co.uk/gp/product/B0BQ2QYHJX) that again will go under the desk and pop out the side.

      #{weeknote_separator}

      Still on a tooling binge.

      I converted the scripts I use for [Raycast](https://www.raycast.com/) and disabled [Alfred](https://www.alfredapp.com/). Not convinced I'll switch permanently; some things are worse.

      I explored [Nerd Fonts](https://www.nerdfonts.com) and the [Starship](https://starship.rs/) prompt but ended up switching back to my old prompt and trusty old Monaco.

      #{weeknote_separator}

      We bought a car a year ago, having never owned one before.

      As a coworker pointed out, people usually experience this feeling of freedom earlier in life, but better late than never.

      I'm enjoying the little things. This week we needed more primer, so I darted out at 9:30 in the evening across the moors (watch out for the sheep) to pick some up from the late-night Screwfix.

      #{weeknote_separator}

      I picked up a book.

      Unexpectedly, it was [Yukon Gold](https://www.goodreads.com/en/book/show/7388266) by William D. Blankenship in Swedish translation, which I loved as a kid. Haven't read it for 20+ years. Really enjoying it so far.

      #{weeknote_separator}

      Our house overlooks the train station. A neighbour is into trains and will let us know when something interesting is coming through.

      We enjoyed the late-night vigil waiting for The Flying Scotsman to appear on its centenary tour. The lights on the other side of the valley. People milling on the platform. False starts when it's just a regular train. And then it's there, belching smoke, coal glowing through the windows.
